.menu {
  width: 100%;
}

.search {
  top: 0;
  position: static;
  width: 50%;

  Input {
    width: 83%;
  }

  Button {
    width: 17%;
  }
}

.menu-header {
  background-color: #ffffff;
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.menu-inner-header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.menu-title {
  > h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #096f91;
  }
}

@media (max-width: 1280px) {
  .menu-inner-header {
    padding: 10px 40px;
  }
}

@media (max-width: 768px) {
  .menu-header {
    width: 100%;
    gap: 5px !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .menu-inner-header {
    justify-content: end;
  }

  .menu-title {
    visibility: hidden;
  }
}
