.item-img-btn {
  width: 33%;
  position: relative;

  img {
    border-radius: 25px;
    width: 310px;
    height: 150px;
  }
}

.item-card-price {
  display: flex;
  align-items: center;
  margin-top: 5px;

  > img {
    width: 14px;
    height: 12px;
  }
}

.item-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  > img {
    width: 12px !important;
  }
}

.item-card {
  display: flex;
  height: 221px;
}

.item-title {
  > h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 700;
  }
}

.item-img {
  width: 360px;
  height: 167px;
  border-radius: 25px;
}

.stepper-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-btn {
  justify-content: center;
  align-items: center;
  gap: 9px;
  display: flex;
  position: absolute;
  bottom: 22px;
  left: 30%;
}

.add-btn-without-img {
  position: relative;
  top: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

@media (max-width: 779px) {
  .add-btn {
    right: 23px;
  }
}

@media (max-width: 360px) {
  .item-card {
    flex-direction: column;
    width: calc(100% + 39px);
    display: flex;
    height: auto !important;
  }

  .item-img-btn {
    width: 56%;
  }

  .menu-items-for-mobile {
    img {
      max-width: 165px;
      margin-left: 3px;
    }
  }

  .add-btn {
    min-width: 165px;
    position: absolute;
    bottom: 6px;
    left: 2px;
  }

  .add-btn-without-img {
    top: -20px;
    width: 159px;
  }
}
