.navbar {
    color: #ffebcd;
    cursor: pointer;
    gap: 2rem;
    font-size: 17px;
    font-weight: 400;
    list-style-type: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 46px;
  
    li:hover {
      color: rgb(0, 255, 247);
      transform: scale(1.1);
    }
  }
  
  @media (max-width: 360px) {
    .navbar {
      right: 11px;
      gap: 0.8rem !important;
    }
  
    .navbar{
      li{
        a{
          font-size: 16px;
        }
      }
    }
  }
  
  