.carousel-card{
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
    overflow: hidden;
    height: 47%;
    transition: all 1s ease 0s;
    display: flex;
    margin: auto;
  }
  
  .carousel-heading{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 480px) {

    .carousel-heading{
      margin: 1rem auto;
      flex-direction: column;
      gap: 17px;
      margin-bottom: 4px;
    }

    .carousel-container{
      margin-bottom: 2rem;

      h2{
        font-size: 20px;
      }
    }
  }