.header {
  position: relative;
  border: 1px solid gray;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  height: 263px;
  width: 100%;
  background-image: url("../../../assets/back-5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-left: 20px;

  img {
    width: 40px;
  }

  p {
    font-size: 17px;
  }

  @media (max-width: 780px) {
    img {
      width: 40px;
    }
  }

  @media (max-width: 480px) {
    img {
      width: 30px;
    }
  }
}

.title {
  h2 {
    text-align: center;
    margin-top: 41px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #e8cbcb;
  }
}

@media (max-width: 780px) {
  .slogan {
    p {
      visibility: hidden;
    }
  }
}

@media (max-width: 480px) {
  .burger {
    visibility: hidden;
  }

  .title {
    h2 {
      margin-top: 56px;
    }
  }
}
